*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.main-wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 40, 104);
}


.container{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  background-color: rgb(0, 118, 65);
}

.square{
  width: calc(100% / 10);
  aspect-ratio: 1/1;
  border: 2px solid rgb(255, 255, 255);
}

.square.clicked{
  background-color: rgb(40, 40, 104);
}